resources/
lib/

phaser.js
greenworks.js

db_values.js

web2exe.json
package.json
package-lock.json

favicon.ico
favicon.png

steam_appid.txt
crash_log.txt

locales/
pnacl/
swiftshader/
node_modules/
*.dll
*.dat
*.pak
*.exe
*.bin
*.nexe
credits.html
